extends layout

block content
  .r.body-top
    .g-12.blurb
      p.alpha-lh
        | <span class=hilight-color>BACRO</span>
        | is a multi-player game where people create <a href="http://en.wikipedia.org/wiki/Bacronym">bacronyms</a> to earn each other's votes.
  .r
    .g-12
      h2 Example:
      p.beta
        | <span class=hilight-color>B</span>acro is <span class=hilight-color>A</span>iming for <span class=hilight-color>C</span>huckles <span class=hilight-color>R</span>esulting in <span class=hilight-color>O</span>bituaries
